*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

main{
   padding-top: 140px;
}

header{
   width: 100%;
   background-color: rgb(61, 61, 61);
   position: fixed;
}

.top-header{
   display: flex;
   background-color: white;
   padding: 20px 4%;
}

.top-header .logotipo img{
   max-width: 500px;
}

.interface{
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 30px;
}

.bottom-header nav ul{
   display: flex;
   align-items: center;
   justify-content: center;

   list-style-type: none;
}

.bottom-header nav ul li a{
   color: white;
   padding: 10px 40px;
   text-decoration: none;
   font-weight: 600;
   display: block;
   transition: .3s;
}

.bottom-header nav ul li a:hover{
   background-color: black;
}

#oQueE{
   padding: 50px 30px;
   text-align: center;
}

#oQueE h2{
   margin-bottom: 40px;
}

#tipos{
   background-color: rgb(199, 199, 199);
   padding: 60px 0;
}

#tipos h2{
   text-align: center;
   margin-bottom: 60px;
}

.card{
   background-color: rgb(233, 233, 233);
   padding: 30px;
   border-radius: 10px;
   text-align: center;
   border: 1px solid #d1d1d1;
}

.card h3{
   font-size: 1.2em;
   margin-bottom: 15px;
}

.card p{
   font-weight: 400;
   font-size: .95em;
   line-height: 1.6;
}

.cards{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}