*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header{
   width: 100%;
   background-color: rgb(240, 240, 240);
   text-align: center;
   padding: 30px 0px 0px 0px;
}

#container{
   max-width: 1280px;
   margin: 0 auto;
   
}

#title{
   padding-bottom: 30px;
   font-size: 1.3em;
}

nav{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

nav a{
   background-color: #ffffff;
   padding: 10px 20px;
   text-decoration: none;
   color: black;
   text-transform: uppercase;
   text-align: center;
}

#oQueE{
   background-color: rgb(255, 255, 255);
   text-align: center;

}

#oQueE h2{
   padding-bottom: 30px;
}