*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

main{
   padding-top: 140px;
}

header{
   width: 100%;
   background-color: rgb(61, 61, 61);
   position: fixed;
}

.top-header{
   display: flex;
   background-color: white;
   padding: 20px 4%;
}

.top-header .logotipo img{
   max-width: 500px;
}

.interface{
   max-width: 1280px;
   margin: 0 auto;
}

.bottom-header nav ul{
   display: flex;
   align-items: center;
   justify-content: center;

   list-style-type: none;
}

.bottom-header nav ul li a{
   color: white;
   padding: 10px 40px;
   text-decoration: none;
   font-weight: 600;
   display: block;
   transition: .3s;
}

.bottom-header nav ul li a:hover{
   background-color: black;
}

#oQueE{
   padding: 50px 30px;
   text-align: center;
}

#oQueE h2{
   padding-bottom: 20px;
}

#tipos{
   background-color: rgb(199, 199, 199);
   padding-bottom: 100px;
}

#tipos h2{
   text-align: center;
   padding: 30px 0px;
}

.card{
   width: 400px;
   height: 350px;
   background-color: rgb(233, 233, 233);
   border: 1px solid #d1d1d1;
   border-radius: 10px;
   text-align: center;
   margin: 10px;
}

.card h3{
   font-size: 1.1em;
   padding: 20px 0px;
}

.card p{
   font-weight: 400;
   font-size: .9em;
   padding: 0px 20px;
}

.cards{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}